---
import { DEFAULT_CONTAINER } from "src/utils/defaul-styles";
import { css } from "styled-system/css";
import { PoButtonMenu } from "./po-button-menu";
import { DarkModeButton } from "./dark-mode-button";
import { ROUTES } from "src/utils/const";


const HEADER_CONTAINER = css({
  width: "100%",
  boxSizing: "border-box",
  display: "flex",
  justifyContent: "space-between",
  _light: {
    borderBottom: "1px solid #dce1e4",
  },
  alignItems: "center",
  
  paddingTop: "32px",
  paddingBottom: "32px"
},DEFAULT_CONTAINER)

const OPTIONS_CONTAINER_MOBILE = css({
  display: "flex",
  cursor: "pointer",
  md: {
    display: "none",
  },
  columnGap: "16px"
})

const OPTIONS_CONTAINER = css({
  display: "none",
  columnGap: "20px",
  md: {
    display: "flex",
  },
  alignItems: "center"
})

const OPTION = css({
  borderBottom: "1px solid transparent",
  _hover: {
    borderBottom: "1px solid red"
  },
})
---

<header  class={HEADER_CONTAINER}>
  <div>Habib Rejon</div>


  <nav class={OPTIONS_CONTAINER}>
    <DarkModeButton client:only/>
    <a class={OPTION}href={ROUTES.WELCOME.route}>Bienvenida</a>
    <a class={OPTION}href={ROUTES.ABOUT.route}>Sobre mi</a>
    <a class={OPTION}href={ROUTES.EXPERENCE.route}>Mi experiencia</a>
    <a class={OPTION}href={ROUTES.CONTACT.route}>Contactame</a>
  </nav>

  <nav class={OPTIONS_CONTAINER_MOBILE}>
    <DarkModeButton client:only/>
    <PoButtonMenu client:only >
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
    </PoButtonMenu>
  </nav>

  

</header>

<script>

</script>

<style>

</style>
